h1 {
  margin: 5vh;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-content {
  text-align: center;
}

#reset-button {
  font-weight: 700;
  font-size: 15px;
  color: rgba(233, 46, 46, 0.856);
  margin-top: 4vh;
  padding: 1vh;
  border: 2px solid;
  border-radius: 1vh;
}
